
.estrutura-clinica {
    
    border-radius: 8px;
    border: 1px solid #c3c3c3;
    box-shadow: 0 2px 7px 0 rgba(0,0,0,0.15);
    display:flex;
    margin : 20px;
    width: 1000px;
    height: 180px;
    
}

span{
    background-color: blueviolet;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    border-radius: 0 5px 5px 0;
    border: brown 1px solid;
    width: 2%;
    height: 100%;
    
}

.estrutura-clinica__info{
    display: flex;
    flex-direction: column;
    background: greenyellow;
    width: 55%;
    font-size: 25px;
    font-weight: bold; 
    align-items: center; 
}


.estrutura-clinica_endemail {
    font-size: 15px;
    display: flex;
    font-weight: normal;
    margin-left: 20px;
}

.estrutura-clinica_endemail p:nth-child(2){
    padding: 0 15px;
    text-transform: lowercase;
}

.estrutura-clinica__exames{
   width: 20%;
}



.estrutura-clinica__exames li {
    list-style: none;
    background: rgb(50, 221, 155);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 5px 10px 10px 5px;

}


.estrutura_clinica__whats{
    width: 20%;
    margin: auto;
    border: 1px solid #c3c3c3;
    padding: 5px;
    border-radius: 10px;

}


    
    


